
# directories (by name)

_internal/

lib/

include/shwild/
include/xcontract/
include/xcover/
include/xtests/

src/shwild/
src/xcontract/
src/xcover/
src/xtests/

# directories (by pattern)

# files (by name)

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.scc
*.sbr
*.sdf
*.so
*.suo
*.vcproj.user
*.vcxproj.user

