
# directories (by name)

/.git-old/
/.vs/

/_build/
/_internal/

/bin/
/ipch/
/lib/

/include/shwild/
/include/xcontract/
/include/xcover/
/include/xtests/

/src/shwild/
/src/xcontract/
/src/xcover/
/src/xtests/

Debug Multithreaded DLL/
Debug Multithreaded Dll/
Debug Multithreaded/
Debug/
DebugDll/
DebugMTDLL/
DebugMt/
DebugNox/
DebugUNIX/
DebugUnix/
Release Multithreaded DLL/
Release Multithreaded Dll/
Release Multithreaded/
Release/
ReleaseDll/
ReleaseMTDLL/
ReleaseMt/
ReleaseNox/
ReleaseUnix/
UDebug/
UDebugMt/
URelease/
UReleaseMt/
Unicode Debug Multithreaded Dll/
Unicode Debug Multithreaded/
Unicode Release Multithreaded Dll/
Unicode Release Multithreaded/

Win32/
x64/

build/CMakeFiles/


# directories (by pattern)

#build/*/
/dox/*/
/include-*/


# files (by name)

.DS_Store
.ruby-version
.update_deps

list_changes.cmd
logging-bailout.txt
prepare.cmd
sh.exe.stackdump
update_deps.cmd

build/CMakeCache.txt
build/makefile.tmpl
build/makefile.tools.xml
build/shwild.tmplgen
include/stlsoft/dos2unix.has.been.performed
include/stlsoft/internal/dos2unix.has.been.performed
test/testpatterns.orj


# files (by pattern)

RCa0*
RCb0*

*~
*.a
*.app
*.aps
*.b64
*.bak
*.dll
*.dylib
*.exe
*.gch
*.idb
*.ilk
*.ipch
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.res
*.sbr
*.scc
*.sdf
*.so
*.suo
*.swp
*.tlog
*.tmp
*.unsuccessfulbuild
*.vcproj*.user
*.vcxproj*.user
*.xcuserstate
*.zip

build/*.tmplgen
build/*.tmpl
build/*.tools.xml


