
# directories (by name)

# directories (by pattern)

# files (by name)

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.sbr
*.sdf
*.so
*.vcproj.user
*.vcxproj.user

